:root {
  --amarrillo: #eac926;
  --azul: #03264c;
  --celeste: #1259c3;
  --grisF: #666;
  --GrisC: #ebebeb;
  --Verde: #39b54a;
}

/*------------------------------------------- CUERPO DE LA WEB ------------------------------------ */
* {
  
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}

/*-------------------------------------- HEADER ----------------------------------------- */
header{
  background-color: var(--amarrillo);
}    

  .header-top {
    display: flex;
       flex-wrap: wrap;
       justify-content: space-around;
       align-content: center;
       padding: 2rem 0;
       gap: 15px;
   }



   .header-top {
  background-color: var(--amarrillo);
}

.imagen-mercado-libre {
  width: 50%;
  width: 200px;
}

.compra-en-cuotas {
  text-align: center;
  font-weight: 400;
  font-family: sans-serif;
  
}

a {
margin-left: 1rem;
}

.main-navbar {
  display: inline-block;
  padding: 5px 0px;
  background-color: var(--amarrillo);
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.bottom-search input {
  border: none;
  border-radius: 12px;
  padding: 14px;
  height: 2rem;
}

.search-button {
  position: relative;
  /* Otros estilos */
}

#search-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-120%, -120%);
}


/* ------------------------- ICONOS------------------------ */
main section article i{
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #FFF;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
  transition: 500ms;
}

.producto:hover .truck {
transform: rotate(360deg);
}



.fa-truck {
  margin-left: 0.4rem;
  font-size: 0.7rem;
}

.fa-search {
  color: black;
  background-color: var(--GrisC);
  padding: 1px;
  border-radius: 2px;
  
}

.burger-menu {
  text-align: center;
  padding: 10px;
  color: #ebebeb;
}

.fa-bars {
  color: var(--GrisC);
  background-color: var(--celeste);
  padding: 10px;
  border-radius: 5px;
}

.fa-sign-in-alt,
.fa-shopping-basket,
.fa-id-card,
.fa-hand-holding-usd,
.fa-search {
  color: black;
}

/* --------------------------ENLACE---------------- */

.main-navbar {
  display: none;
}

.main-navbar a {
  text-decoration: none;
  display: inline-block;
  padding: 5px 0;
  color: #222222;
  font-family: sans-serif;
}

.main-navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/*--------------------------------------Tamaño de la letra -----------------------------------------*/

.main-navbar li {
  font-size: 12px;
}

.titulares {
  font-size: 24px;
  font-family: sans-serif;
  width: 100%
}

.precio {
  font-size: 18px;
}

.descuento {
  font-size: 16px;
}

.nombre-producto {
  display: none;
  font-size: 16px;
  color: var(--grisF);
}

/* -------------------------------FOOTER--------------------------------- */

.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 150px;
  gap: 1rem;
}

.iconos-footer {
  font-size: 2em;
  margin-bottom: 10px;
  color: var(--celeste)
}

.titulo-footer {
  margin-bottom: 0;
  font-family: sans-serif;
}

.parrafo-footer {
  margin-top: 0;
 
  margin-bottom: 70px;
  font-size: 1rem;
  font-weight: bold;
}

.copyright {
  font-size: 10px;
}
.iconos-footer:hover {
 color: #1259c3;

}
/* --------------------------Main------------------------ */

main {
  width: 90%;
  margin: auto;
  
}

.precio-descuento {
  display: flex;
  margin-top: 30px;

}

.ultima-visita, .ofertas {
  display:flex;
  flex-wrap: wrap ;
  justify-content: space-between;
}


.producto {
  margin: 10px;
  border: solid 2px #8e8f91;
  width: 80%
}

.descripcion {
  border-top: 2px solid #ebebeb;
  margin: 15px;
  position: relative;
}

.camion,
.descuento {
  color: var(--Verde);
}

.precio,
.descuento {
  font-weight: bold;
  font-size: 0.7rem;
}

.precio {
  width: 30%;
}

.descuento {
  width: 70%;
  text-align: center;
}


.nombre-producto {
 display: none;
  
 }

.producto:hover .nombre-producto {
  display: block;
  margin-top: 1rem;
  
}


.producto:hover {
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.iconos-footer:hover {
  color: #0022AA;
}


/* --------------Vista minima ----------------- */
/* @media (min-width: 200px) {
  body {
    min-width: 200px;
    margin: auto;}
 
  }

 */
/* -----------------------Vista Table----------------- */
@media (min-width: 420px) {
  .producto {
    
    width: 45%;
  }
  .burger-menu {
    display: none;
  }

  .main-navbar {
    display: flex;

    justify-content: space-between;
  }

  .main-navbar ul {
    display: flex;
  }

  .main-navbar li {
    margin: 0 5px;
  }

  /* .nombre-producto {
    display: none;
  } */

  
  .compra-en-cuotas {
    max-width: 180px;
    text-align: right;
  }
  .barra-de-busqueda {
  
    margin: auto;
  }

 } 



/* ----------------Vista Escritorio----------- */
@media (min-width: 769px) {
  .producto {
    
    width: 20%;
  }
  .barra-de-busqueda {
   /*  width: 20%; */
    margin: auto;
  }

  .main-navbar a {
    font-size: 16px;
  }

 .footer {
  flex-direction: row;
 }
}

/* -----------------Vista Maxima----------------- */

@media (min-width: 1200px) {
  body {
    max-width: 1200px;
    margin: auto;}
    .main-navbar a {
      font-size: 18px;
    }
 
  }


